// Media Query

// 0px to 767px
@media screen and (max-width: 767px) and (min-width: 0px) {
    .sidebar {
        display: none;
    }

    .main_container {
        .content-page {
            width: 100%;
        }
    }
}


// 768px to max
@media only screen and (min-width:768px) {
    .navbar {
        .logo {
            background: #2f4355;
        }
    }

    .main_container {
        .content-page {
            width: calc(100% - 225px);
            margin-left: 225px;
        }
    }

    // AFTER CLICK HAMBARGUR
    .navbar.active {

        .logo {
            width: 50px;

            .nav-icon {
                display: block !important;
                width: 28px;
                margin: auto;
                margin-top: 10px;
            }

            .navbar-brand {
                display: none;
            }
        }

    }

    .main_container.active {
        .sidebar {
            width: 50px;

            ul li a span.title,
            .header-title {
                display: none;
            }

            .header-icon {
                display: block;
                font-size: 20px;
                padding-left: 15px;
                color: #ffffff;
                user-select: none;
            }

            ul li:hover {
                a {
                    border-top: 1px solid transparent;
                    border-bottom: 1px solid transparent;
                }

                a span.title {
                    display: inline;
                }
                width: 225px;
            }

        }

        .content-page {
            width: calc(100% - 50px);
            margin-left: 50px;
        }
    }

}