@import "navbar";
@import "sidebar";
@import "media-query";

@font-face{
    src: url(../fonts/Oswald-Regular.ttf);
    font-family: oswald;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main_container{

    .content-page{
        margin-top: 60px;
        padding: 30px;
        transition: all 0.3s ease;

        .item{
            border: 1px solid #e0f2f1;
            margin-bottom: 30px;
            padding: 20px;
            font-size: 14px;
            line-height: 22px;
        }
    }
    
}


